<div class="previousEducation">
Name of Instituion attended: <input type="text" name="previousEducations[0].institutionName"> <br/>
Major: <input type="text" name="previousEducations[0].major"> <br/>
Degree:
<select name="previousEducations[0].degree">
    <option value="BS">Bachelors</option>
    <option value="MS">Masters</option>
    <option value="PHD">Doctors</option>
</select>
<br/>
Year of Graduation: <input name="previousEducations[0].gradYear" type="text"><br/>
GPA: <input name="previousEducations[0].gpa"><br/>
</div>

